@import '../partials/sage_bootstrap_variables';
@import '../partials/common_mixins';
@import '_ux2_colours';

.sticky-header {
  display: none;
  height: 50px;

  &.open {
    display: block;
  }

  .sticky-header-inner {
    @include linear-h-gradient(rgba($ux2-fuchsia-dark, 1.0), rgba($ux2-fuchsia, 1.0));
    position: fixed;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    z-index: 9998;
    color: $ux2-white;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s ease;

    &.soft-hide {
      transform: scaleY(0);
    }

    .sticky-header-close {
      margin: 10px 28px 10px 22px;
      display: inline-block;
    }

    .title {
      line-height: 50px;
      font-weight: bold;
    }

    .buttons {
      text-align: right;
      line-height: 50px;

      .button-pink-block {
        display: inline-block;
        vertical-align: middle;
        padding: 3px 30px;
        width: 170px;
        margin-left: 20px;
        color: $ux2-white;
        border-color: $ux2-white;

        &.inverse {
          color: $ux2-fuchsia;
          border-color: $ux2-fuchsia;
        }
      }
    }
  }
}

@media(max-width: $screen-sm-max) {
  .sticky-header {
    .sticky-header-inner {
      .buttons {
        .button-pink-block {
          width: 130px;
          padding-left: 10px;
          margin-left: 14px;

          &:before {
            width: 14px;
          }

          &:after {
            width: 9px;
            height: 9px;
          }
        }
      }
    }
  }
}

@media(max-width: $screen-xs-max) {
  .sticky-header {
    height: 60px;

    .sticky-header-inner {
      .sticky-header-close {
        margin: 15px 0 0;
      }

      .title {
        font-size: 12px;
        line-height: normal;
        text-align: center;
        margin-top: 2px;
      }

      .buttons {
        margin-top: 4px;
        text-align: center;
        line-height: normal;

        .button-pink-block {
          padding: 1px 0px 1px 10px;
          width: 112px;
          margin-left: 10px;

          &:before {
            width: 14px;
            right: 12px;
          }

          &:after {
            width: 9px;
            height: 9px;
            right: 12px;
          }
        }
      }
    }
  }
}