@import '_ux2_colours';

.no-scroll {
  overflow: hidden;
}

#ux2_side_nav {
  @include linear-v-gradient(rgba($ux2-slate-light, 1.0), rgba($ux2-slate-dark, 1.0));
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  overflow: hidden;
  height: 0;
  transition: 0.5s;

  &.open {
    overflow-y: auto;
    height: 100%;
    width: 100%;
  }

  #ux2_side_nav_content {
    position: static;
    color: $brand-white;
    font-family: AdelleSansSAGE;
    font-size: 14px;

    a {
      color: $brand-white;

      &:hover {
        text-decoration: none;
      }
    }

    .header {
      margin-bottom: 25px;
      min-height: 70px;

      .navbar-sage-brand {
        display: block;
        width: 80px;
        height: 32px;
        margin: 20px auto 0;
        background: url('/Content/Sage/Images/sage_logo_green.svg') no-repeat center center;
      }

      .navbar-close {
        display: inline-block;
        padding: 20px;
      }

      ul {
        margin-top: 20px;
        float: right;

        > li {
          float: left;
          font-size: 14px;
          font-weight: normal;
          margin-right: 20px;
        }

        > li:last-child {
          margin-right: 0;
        }
      }

      i {
        margin-left: 10px;
      }
    }

    .body {
      .top {
        display: none;
      }

      .main {
        .section {
          width: 24%;
          padding: 0 0.5%;
          float: left;

          .section-header {
            display: block;
            font-size: 20px;
            margin-bottom: 8px;
            cursor: default;
          }

          ul li a {
            color: $brand-light-grey;

            &:hover {
              color: $brand-white;
            }
          }
        }
      }

      .social {
        font-size: 16px;

        &:after {
          content: "";
          border-left: 2px solid $ux2-slate-darker;
          position: absolute;
          left: 0;
          top: 0;
          height: 80%;
        }

        li {
          margin-bottom: 8px;
        }

        i {
          text-align: center;
          width: 24px;
          height: 24px;
          margin: 4px 8px 4px 0;
          font-size: 14px;
          padding-top: 7px;
          border-radius: 50%;
          background: #f5f5f5;
          color: $ux2-slate-dark;
        }

        .copyright {
          display: none;
          color: $brand-light-grey;
        }
      }

      ul {
        @include list-unstyled;
      }
    }
  }
}

@media(max-width: 991px) {
  #ux2_side_nav {
    @include linear-v-gradient(rgba($ux2-slate-dark, 1.0), rgba($ux2-slate-light, 1.0));
    height: 100%;
    width: 0;

    #ux2_side_nav_content {
      font-family: AdelleSAGE;

      ul li a {
        display: block;
        padding: 6px 52px;
      }

      .header {
        border-bottom: 1px solid $ux2-sage-green;

        .section {
          display: none;
        }
      }

      .body {
        max-width: 320px;
        padding: 0;
        margin: 0;

        .top {
          padding: 0;
          display: block;
          font-size: 18px;

        }

        .main {
          padding: 0;

          .section {
            float: none;
            padding: 0;
            width: 100%;
            position: relative;

            .section-header {
              padding: 6px 52px;
              margin: 0;
              cursor: pointer;

              .chevron-right {
                border-top: 2px solid $ux2-sage-green;
                border-right: 2px solid $ux2-sage-green;
                transform: rotate(45deg);
                position: absolute;
                width: 13px;
                height: 13px;
                top: 14px;
                left: 16px;
                bottom: 0;
                right: 0;
              }
            }

            &:after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 180px;
              border-top: 1px solid $ux2-slate-lighter;
            }

            &:last-child {
              margin-bottom: 10px;
            }

            > ul {
              height: 0;
              opacity: 0;
              overflow: hidden;
              transition: 0.5s;
            }

            &.open {
              > ul {
                opacity: 1;
                height: 100%;
              }
            }
          }
        }

        .social {
          padding: 0;
          font-size: 18px;

          &:after {
            border: none;
          }

          > ul > li {
            position: relative;
            margin: 0;

            &:first-child {
              padding-top: 10px;

              &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 165px;
                border-top: 2px solid $ux2-sage-green;
              }
            }

            &:last-child {
              padding-bottom: 10px;

              &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 165px;
                border-bottom: 2px solid $ux2-sage-green;
              }
            }
          }

          > div {
            text-align: center;
            margin-top: 20px;
          }

          i {
            width: 32px;
            height: 32px;
            margin: 0 4px;
            font-size: 18px;
            padding-top: 10px;
          }

          .copyright {
            display: block;
            font-size: 14px;
          }
        }
      }
    }
  }
}